.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 50vh;
    color: silver;
    text-align: center;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .container {
    padding: 2px 16px;
  }
  img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }